<div class="container-fluid">
    <script src="https://cdn.tiny.cloud/1/1sb38u376a8ulm88ac0aab6gulkw3lx4avevpvcg3dglkqn0/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>

    <div class="ml-auto my-3">
            <input id='post-add' class='form-control' type="submit" value="Добавить пост" name="submit">


    </div>
    <div id='admin-blog'></div>

        <a class="button-main text-center" href="#" id="next-posts">
            {{__ 'bio.next'}}
        </a>

</div>
