<div data-barba-prevent="all" class="container-fluid">

    <div class="ml-auto my-3" >
        <form action="/admin/gallery/upload" method="post" enctype="multipart/form-data">
            <input class='form-control' type="file" name="files" id="files" multiple>
            <input disabled="true" class='form-control' type="submit" value="Загрузить изображение" name="submit">
        </form>

    </div> 


    <div>
        <div class="card-columns">
            {{#each images}}
            <div class="card searchable"> <img class="card-img-top" loading=lazy src='{{this.src}}' alt="Card image cap">
                <div class="card-footer">
                    <p>{{this.name}}</p>                 
                    <input data-barba-prevent="self" id='{{this.src}}' class='delete-img-button form-control' type="submit" value="Удалить"></input>
                    
                </div>
            </div>
            {{/each}}
        </div>

    </div>


</div>