<img id="bushkov-blog" class="main-img" srcset="img/bushkov-blog/bushkov-blog.jpg 1920w,
             img/bushkov-blog/bushkov-blog@0,75x.jpg 1440w, img/bushkov-blog/bushkov-blog@0,5x.jpg 960w,
             img/bushkov-blog/bushkov-blog@0,25x.jpg 480w" src="bushkov-blog.jpg" alt="">

<div id="blog" class='text-block'>
    <span class="title">
            <h1>{{__ 'blog.title'}}</h1>
    <a id='show-all-button' href="#">{{__ 'blog.showAll'}}</a>
    </span>
</div>

<div id='blog-next' class="">
     <a class="button-main text-center" href="#" id="next-posts">
        {{__ 'bio.next'}}
     </a>
</div>



