<h1>Conductor</h1>
    <img id="bushkov-conductor" srcset="img/bushkov-conductor/bushkov-conductor.jpg 1920w,
             img/bushkov-conductor/bushkov-conductor@0,75x.jpg 1440w, img/bushkov-conductor/bushkov-conductor@0,5x.jpg 960w,
             img/bushkov-conductor/bushkov-conductor@0,25x.jpg 480w" src="bushkov-conductor.jpg" alt="Main orchestra photo">

