<div id="index-wrapper" class="wrapper">

    <img id="index-image" class="main-img" srcset="img/index-image/index-image.jpg 1920w,
             img/index-image/index-image@0,75x.jpg 1440w, img/index-image/index-image@0,5x.jpg 960w,
             img/index-image/index-image@0,25x.jpg 480w" src="index-image.jpg" alt="Main orchestra photo">


    <div class="contacts-block">
        <h2>Контакты</h2>
        <p class="my-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis irure anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </p>
        <div class="buttons mt-3">
            <a class="button-main mr-3" href="#">
                Phone 
            </a>
            <a class="button-main mr-3" href="#">
                Mail
            </a>
            <a class="button-main" href="#">
                Facebook
            </a>
        </div>

    </div>