

<div id="gallery" class="gallery" data-barba-prevent="all">
    {{#each images}}
    <div class="img-wrapper">
        <a href="{{this.src}}" class="lightbox" style="overflow:hidden;">
        <div class="img-container">
            <img src={{this.src}} alt="">
        </div>
        </a>
    </div>
    {{/each}}
</div>

<script src="/scripts/simple-lightbox.min.js"></script>
<script>
    (function() {
        var $gallery = new SimpleLightbox('.gallery a', {});
    })();
</script>