<div id="gallery">

    {{#each images}}
    <div class="img-wrapper">
        <div class="img-container">
            <img src={{this.src}} alt="">
        </div>
    </div>
        
    {{/each}}


</div>