<div id="index-wrapper" class="wrapper">
  <video id="video1" class="main-img" width="1420" preload="none" muted loop>
    <source src="/video/video8.webm" type="video/webm">
  </video>
    <div class="index-block mb-5">
        <h1>
            {{__ 'index.name'}}</h1>
        <p class="my-2">
            {{__ 'index.promo'}}
        </p>
        <div class="buttons mt-3">
            <a class="button-main mr-3" href="/violinist">
            {{__ 'index.more'}}
            </a>
            <a class="button-main" href="/contacts">
            {{__ 'index.contacts'}}
            </a>
        </div>
    </div>
</div>