<img id="bushkov-teacher" class="main-img" srcset="img/bushkov-teacher/bushkov-teacher.jpg 1920w,
             img/bushkov-teacher/bushkov-teacher@0,75x.jpg 1440w, img/bushkov-teacher/bushkov-teacher@0,5x.jpg 960w,
             img/bushkov-teacher/bushkov-teacher@0,25x.jpg 480w" src="bushkov-teacher.jpg" alt="">

<div class="text-block">
    <h1>Педагог
    </h1>
    <p class="my-2">
        Евгений Бушков также осуществляет активную педагогическую деятельность, занимает должность заведующего отделением оркестровых
        струнных инструментов Центральной музыкальной школы при Московской государственной консерватории имени П.И.
        Чайковского. Уроки он строит вокруг главных тем: как подходить к новому сочинению, заниматься
        максимально эффективно и сделать так, чтобы извлечение звуков из инструмента было не просто исполнительством, а
        высшей формой творчества.
 </p>
 <p>
        «Я убежден: когда музицируют дети, царит особая атмосфера. Мы готовились к итоговому концерту очень серьезно, я
        учил ребят концентрироваться на глубине звука. И молодые люди репетировали с большим энтузиазмом: они не просто
        исполняли произведение, а искали ключевое слово, эмоцию, состояние или ассоциацию и работали с этим. Энергия от
        искренних выступлений – необыкновенная, это запоминается зрителю на долгие годы», – говорит Евгений Бушков.
 <p>
 </p>
 <p>
        Ученики шутят о педагоге: из миллиона звуков, которые ты извлекаешь, он обязательно услышит даже одну неверную
        ноту. Теперь ребята слышат музыкальный текст не только с позиции мелодии и гармонии, а чувствуют, какие
        переживания композитор вкладывал в свое сочинение, и стараются играть максимально красиво.

    </p>

    <div class="buttons mt-3">
        <a class="button-main mr-3" href="/contacts">
            Контакты
        </a>
    </div>
</div>