/*General*/

  body{
      background-color: #030303;
      color:white;
  }
  main{
      z-index: 1;
  }
  #index-wrapper{
      background-image: url('/img/index-photo.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      
  }
.wrapper{
    position:fixed;
    width: 100%;
    height: 100%;
}

  a:hover {
    text-decoration: none;
  }

  .locale-change:hover,
.social-img:hover {
  opacity: 0.8;
}

.locale-change img{
  height: 40px;
}