/*General*/

@font-face {
  font-family: 'Gabriola';
  src: url('/fonts/Gabriola.woff2') format('woff2'),
    url('/fonts/Gabriola.woff') format('woff');
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #cccccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

body {
  background-color: #030303;
  color: white;
  font-family: 'Gabriola', Times, serif;
}

main {
  z-index: 1;

}

nav {
  background-color: rgba(0, 0, 0, 1);

}

.navbar-brand {
  font-family: 'Gabriola', Times, serif;
  font-size: xx-large;
}

.nav-link {
  color: white !important;
  font-size: 1.7rem;
}

.menu-item.active {
  box-sizing: border-box;
  border-top: 4px solid white;
  transition: border-top 0.3s;
}

.dropdown-menu {
  min-width: 1em;
  background-color: rgba(0,0,0,0.8);
}

.dropdown-menu a{
  color: white;
}

#index-wrapper {
  width: 100%;
  position: relative;
}

.main-img {
  z-index: -1;
  position: fixed;
  right: 0;
  top: 8%;
}

.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
}

a:hover {
  text-decoration: none;
}

.locale-change:hover,
.social-img:hover {
  opacity: 0.8;
}

.locale-change img {
  height: 40px;
}

.text-block,
.contacts-block {
  width: 45%;
  margin: 1% 2%;
  display: flex;
  flex-direction: column;
  font-size: 1.4vw;
}

.text-block-conductor {
  width: 53%;
}

#blog {
  width: 58%;
}

#blog-next {
  margin: 0 2%;
  width: 58%;
  display: flex;
  justify-content: center;
  font-size: 1.4vw;
}

.contacts-block {
  margin: 10% 3%;
}

.index-block {
  width: 42%;
  margin: 4% 4%;
  display: flex;
  flex-direction: column;
  font-size: 1.9rem;
}

.index-block h1 {
  font-size: 3em;
}

.index-block .buttons {
  display: flex;
  font-size: 1.3em;

}

.button-main:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
  color: white;
}

.button-main {
  transition: background-color 0.3s;
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 5px;
  border: 1px solid rgba(255,255,255,0.2);
  color: white;
}

#blog-next .button-main {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.05);
}

#gallery {
  columns: 3;
  column-gap: 0;
}

.img-container {
  width: 100%;
  transition: transform 0.3s;
  border-radius: 5px;
  border: 1px solid rgba(255,255,255,0.2);
  color: white;
}

.img-wrapper {
  padding: 10px;
  break-inside: avoid-column;
}

.img-container:hover {
  transform: scale(1.05, 1.05);
}

.img-container img {
  width: 100%;
}

#concerts {
  display: flex;
  flex-wrap: wrap;
}

.concert-container {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 10px;
  border-radius: 5px;
  border: 1px solid rgba(255,255,255,0.2);
  color: white;
  position: relative;
  width: 18%;
  transition: transform 0.3s;
}

.concert-container:hover {
  transform: scale(1.05, 1.05);
}

.concert-container .text {
  padding: 0px;
}

.concert-container .text * {
  padding: 0px 5px;
}

.concert-container img {
  width: 100%;
  display: block;
}

.concert-container h3 {
  background-color: rgba(255, 255, 255, 0.1);
}

.concert-container .date {
  float: left;
}

.concert-container .place {
  float: right;
}

.poster {
  max-width: 100%;
}

.event-row {
  margin-bottom: 3.5vw;
}

.event-row .concert {
  border-radius: 5px;
  border: 1px solid rgba(255,255,255,0.2);
}

pre {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  line-break: normal;
  overflow-wrap: break-word;
}

@media (max-width:1380px) {
  .index-block {
    width: 50%;
    font-size: 1.6rem;
  }
}

@media (max-width:1024px) {
  .main-img {
    display: block;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .text-block {
    width: 96%;
    margin: 1% 2%;
    font-size: 1.5rem;
  }

  .contacts-block {
    width: 96%;
    margin: 1% 2%;
    font-size: 1rem;
  }

  .index-block {
    width: 96%;
    font-size: 1rem;
    margin: 0 2%;
  }

  #blog {
    width: 96%;

  }

  #blog-next {
    width: 96%;
    font-size: large;
  }
}

@media (max-width:768px) {
  .main-img {
    display: block;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .index-block {
    width: 96%;
    font-size: 1rem;
    margin: 0 2%;
  }

  .text-block {
    width: 96%;
    margin: 1% 2%;
    font-size: 1rem;
  }

  .contacts-block {
    width: 96%;
    margin: 1% 2%;
    font-size: 1rem;
  }

  #gallery {
    columns: 2;
  }

  .concert-container {
    width: 45%;
  }
}

.card-footer p {
  color: black;
}

#admin-concerts .concert {
  background-color: rgba(255, 255, 255, 0.1)
}

/*Gallery*/
.gallery-container h1 {
  text-align: center;
  margin-top: 70px;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
  color: #58595a;
}

.gallery-container p.page-description {
  text-align: center;
  margin: 30px auto;
  font-size: 18px;
  color: #85878c;
}

.tz-gallery {
  padding: 10px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.tz-gallery .thumbnail {
  padding: 0;
  margin-bottom: 30px;
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.18);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: 0.15s ease-in-out;
}

.tz-gallery .thumbnail:hover {
  -ms-transform: translateY(-10px) scale(1.02);
  -webkit-transform: translateY(-10px) scale(1.02);
  -moz-transform: translateY(-10px) scale(1.02);
  -o-transform: translateY(-10px) scale(1.02);
  transform: translateY(-10px) scale(1.02);
}

.tz-gallery .lightbox img {
  border-radius: 4px 4px 0 0;
}

.tz-gallery .caption {
  padding: 26px 30px;
  text-align: center;
}

.tz-gallery .caption h3 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 0;
}

.tz-gallery .caption p {
  font-size: 12px;
  color: #7b7d7d;
  margin: 0;
}

.baguetteBox-button {
  background-color: transparent !important;
}

.thumbnail {
  margin-bottom: 0px !important;
}

.photo-card {
  border: none !important;
  background: none !important;
}

#blog img {
  width: calc(100% + 20px);
}

#blog .post,
#admin-blog .post {
  position: relative;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(40, 40, 40, 0.2);
}

#admin-blog .post {
  margin-bottom: 50px;
}

#admin-blog + #blog-next {
  width: 100%;
  margin: 0;
}

#blog .post .date {
  position: absolute;
  top: 10px;
  right: 10px;
}

#blog .post h3 {
  background-color: rgba(255, 255, 255, 0.05);
  padding-left: 10px;
  padding-top: 10px;
}

#blog .post .tags {
  padding-left: 10px;
}

#blog a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
  font-size: smaller;
}

#blog.text-block {
  margin-bottom: 0;
}

#blog .post-text {
  padding: 10px 10px;
  transition: max-height 1s ease-in-out 0s;
  word-wrap: break-word;
}

#blog .post-text.hidden-text {
  max-height: 167px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 80px, rgba(0, 0, 0, 1) 20px, transparent 90%);
  mask-image: linear-gradient(rgba(0, 0, 0, 1), transparent);
}

#blog .show-more {
  margin-left: 10px;
  cursor: pointer;
}

#blog .post-text p {
  margin: 0;
}

#blog .post-text img {
  margin: 0px 0px 0px -10px;
}

#blog a:hover {
  color: rgba(255, 255, 255, 1);
}

.status {
  margin-bottom: 0 !important;
}

.post-buttons {
  display: flex;
}

.post-meta {
  display: flex;
}

.post-meta>* {
  width: 100%;
}

#deleteModal {
  color: #030303;
}


#show-all-button {
  float: right;
  font-size: larger !important;
}

.title h1 {
  float: left;
}